<div id="login" class="row">
  <div class="large-6 large-offset-3">
    <img src="images/Zendoc-logo-blue-on-white.png"/>
    <h1>Take our coding challenge and win a €100 Amazon voucher</h1>
    <form action="">
      <fieldset class="radius">
        <div class="row">
          <div class="large-6 columns">
            <input type="text" name="name" placeholder="name"
            data-ng-model="credentials.name" required/>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <input type="email" name="email" placeholder="email"
            data-ng-model="credentials.email" required/>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="button large expand radius"
            data-ng-click="login()">
              Continue
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
